
.has-active-table
  padding-bottom: 100px
  .table-header
    text-align: center
    padding-top: $padding * 1!important
    margin-bottom: 6*$margin

    .table-top-section
      display: flex
      margin-bottom: $margin
      div
        flex: 1
      &__name
        width: 100%
        background-color: white
        // background-image: linear-gradient( 109.6deg,  rgba(121,203,202,1) 11.2%, rgba(119,161,211,1) 91.1% )
        // background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(234,249,249,0.67) 0.1%, rgba(239,249,251,0.63) 90.1% )
        // background-image: radial-gradient( circle farthest-corner at 22.4% 21.7%,  rgba(4,189,228,1) 0%, rgba(2,83,185,1) 100.2% )
        // color: white
        border-radius: 25px
        display: inline-block
        text-align: right
        padding-right: $padding / 2!important
        padding-left: 0!important
        h5
          display: flex
          align-items: center
          // justify-content: center
          height: 100%
          font-size: 18px
          span
            margin-inline-start: $padding / 2
            font-size: 18px

      &__edit-orders
        padding-right: $padding / 2
        // padding-right: $padding
        button
          width: 100%
          height: 100%
          span
            color: $primary!important
    // display: flex

  .table-status-bar
    width: 100%
    // height: 130px
    margin-top: $margin
    position: relative
    top: 3.5rem

    &__actions
      margin-bottom: $margin
      display: flex
      div
        flex: 1
        button
          width: 100%
      &__pay-whole-bill
        padding-left: $padding / 2
      &__order-description
        padding-right: $padding / 2
    // bottom: 19px
    // display: flex
    // justify-content: center
    // align-items: center

    &__info#table-status-bar-progress-wrapper
      display: flex
      justify-content: center
      align-items: center
      transition: 0.3s
      border-radius: 5px
      background-color: $blueShade
      z-index: 2
    p
      // letter-spacing: -0.02rem
      width: 100%
      margin-left: 0.5rem
      position: relative
      z-index: 3
      text-align: center
      .total-payment
        font-size: 18px
      .total-cost
        font-size: 18px

    .complete-payment-p
      width: auto!important

    .payment-completed-icon
      z-index: 100!important

.others
  margin-bottom: 3 * $margin

// .empty-table
//   height: calc(100vh - 365px)
//   text-align: center
//   display: flex
//   justify-content: center
//   align-content: center
//   img
//     width: 25%
//     opacity: 0.5

.table-person
  margin-bottom: 50px
  .person-title
    border-radius: 25px
    display: flex
    img
      flex-basis: 46px
      height: 46px
      border-radius: 23px
  .person-orders
    // margin-bottom: $margin * 1.5
    margin-top: $margin!important
    position: relative

    .toman
      font-size: 10px!important
      margin-inline-start: 2px
    .person-title-and-selection
      display: flex
    .wish-to-pay, .person-payment, .person-total-order-info
      font-size: 13px
      color: $grey
    .person-slider
      position: absolute
      bottom: -16px
      left: 0
      right: 0
      .b-slider.is-large .b-slider-track
        height: 0.85rem
        border-radius: 0px 0px 5px 5px
      .b-slider-fill
        border-radius: 0px 0px 5px 5px

    .order-payment-done
      margin: 0.25rem -1*$margin -1*$margin -1*$margin
      display: flex
      justify-content: center
      align-items: center
      color: white
      border-radius: 0px 0px 5px 5px
      padding: 3px

    .person-total-order-info
      display: flex
      
      &__status
        flex: 1
        text-align: end
        border-radius: 2px
        span
          border-radius: 2px
      span
        font-size: 15px
        

    .person-payment
      display: flex
      flex-direction: column
      span
        flex: 1
        font-size: 14px
        span
          font-size: 16px
    .wish-to-pay
      margin-bottom: $margin
      #wish-to-pay-text
        font-size: 12px

#pay-checkout
  .pay-checkout-btn
    color: white
    display: flex
    flex: 3
    height: 100%
    font-size: 16px
    font-weight: 600!important
    justify-content: center
    align-items: center
    border-radius: 0
    span
      font-size: 16px
      font-weight: 500!important
    .credit-card-icon
      margin-inline-end: 3px
  .pc-child
    flex: 2
    display: flex
    align-items: center
  .pay-checkout-info
    // flex-direction: row-reverse
    justify-content: flex-end
    align-items: center
    .total-count, .total-price
      display: inline-block
    .total-price
      font-size: 18px
      .toman
        font-size: 14px
        color: $grey
        position: relative
        right: 3px

.table-options-modal
  .modal-card-body
    .last-checkbox-field
      padding-bottom: 2*$padding
      // margin-bottom: $margin!important
      .b-checkbox
        .check
          width: 1.4rem!important
          height: 1.4rem!important
        .control-label
          padding-inline-start: 0.5rem
          padding-inline-end: 0
          font-size: 18px

.pay-checkout-is-shown
  box-shadow: 0px -1px 0px rgba(0,0 ,0 ,0.05)
  bottom: 105px!important
  transition: 0.3s!important
  transition-timing-function: ease-out!important
  transform: translateY(46px)!important
  opacity: 1!important


.no-active-table
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 65px
  display: flex
  justify-content: center
  align-items: center
  div
    text-align: center
    img
      display: block
      width: 50%
      margin: auto
      margin-bottom: $margin
    p.no-ordering-text
      display: inline-block
      padding: $padding /2 $padding
      background-color: $lightGrey
      color: $grey
      // width: 80%
      margin: auto
      border-radius: 5px

@media screen and (max-width: 360px)
  .table-top-section
    div
    &__name
      h5
        font-size: 15px!important
        span
          font-size: 15px!important
