@import 'variables.sass'
.tabs
  ul
    li:first-child 
      a
        border: none!important
        border-radius: 10px 0 0 10px!important
    li:last-child
      a
        border: none!important
        border-radius: 0 10px 10px 0!important
    li
      a
        border: none!important
        height: 39px
        span
          font-size: 12px

.tab-content
  padding: 0!important
  // margin: $margin -$margin
