@import 'variables.sass'
.category-list
  direction: rtl
  margin-top: 1.5 * $margin!important
  margin-left: (-$margin)
  .category-item
    font-size: 14px
    display: inline-block
    margin: 0 5px
    background-color: grey
    border-radius: 25px
    padding: 5px 20px
    color: white
  .category-item.active-category
    background-color: $secondary

.product-list
  padding-bottom: 100px
  .product-item
    height: 15vh
    display: flex
    .img-section
      flex: 6
      padding: 7px 7px 7px 0
      img
        height: 100%
        width: 100%
        border-radius: 10px
        object-fit: cover
        // border-radius: 50px 5px 5px 50px
        // : 100%/30px 30px 5px 5px
    .content-section
      position: relative
      text-align: right
      flex: 11
      .product-title
        font-size: 15px

      .product-description
        direction: rtl
        font-size: 11px
        line-height: 13px

      .product-price
        position: absolute
        right: $padding
        bottom: $padding
        font-size: 15px

    .add-or-remove
      text-align: center
      padding-left: $padding
      flex: 1
      display: flex
      flex-direction: column
      .product-count
        font-size: 20px
        font-weight: 500!important
        display: flex
        align-items: center
        margin: auto
      .product-add, .product-remove
        .aor-shape
          padding-top: 2px
          font-size: 18px
          display: flex
          justify-content: center
          align-items: center
          height: 25px
          width: 25px
          background-color: #ffffff
          border-radius: 15px
          color: #e94560
          border: 1px solid #e94560
          box-shadow: 0px 1px 4px rgba(0, 0 , 0, 0.2)
      .product-remove
        .aor-shape
          font-size: 26px
      span
        flex: 1
        display: flex
        align-items: center

#selected-products-preview
  .submit-order
    flex: 3
    color: white
    display: flex
    font-size: 14px
    justify-content: center
    align-items: center

  .sp-info
    flex: 3
    display: flex
    justify-content: flex-end
    align-items: center
    .total-count, .total-price
      display: inline-block
    .total-price
      font-size: 18px
      .toman
        font-size: 14px
        color: $grey
        position: relative
        right: 3px
    .total-count
      display: flex
      width: 30px
      height: 30px
      font-size: 18px
      justify-content: center
      align-items: center
      color: white
      border-radius: 15px

.selected-products-preview-is-shown
  box-shadow: 0px -1px 0px rgba(0,0 ,0 ,0.05)
  bottom: 105px!important
  transition: 0.3s!important
  transition-timing-function: ease-out!important
  transform: translateY(46px)!important
  opacity: 1!important

@media screen and (max-width: 370px)
  .product-list
    padding-bottom: 100px
    .product-item
      height: 17vh
