@import 'variables.sass'
.cafe-navigator
  .tabs
    ul
      li:first-child 
        a
          border: none!important
          border-radius: 10px 0 0 10px!important
      li:last-child
        a
          border: none!important
          border-radius: 0 10px 10px 0!important
      li
        a
          border: none!important
          height: 39px
          span
            font-size: 12px
      .is-active
        a
          background-color: $primary!important


.tab-content
  padding: 0!important
  // margin: $margin -$margin

.cafe-header
  display: flex
  .info
    flex: 1
    img
      width: 75px
      height: 75px
      border-radius: 50px
    .cafe-name, .cafe-rate
      position: absolute
      display: inline-block
    .cafe-name
      font-size: 16px
      font-weight: 500
      color: white
    .cafe-rate
      top: $margin * 3
      .mdi
        &:before 
          font-size: 18px!important

    .go-back
      flex: 1
  .mdi
    &:before 
      font-size: 28px!important
      


@media screen and (max-width: 768px)
  .modal .animation-content 
    width: 90%


    
