@import '../css/fontiran.css'
@import 'variables.sass'




h1 
  font-weight: 400
    
.flex
  display: flex

.t-xxlarge
  font-size: 48px

.t-xlarge, h1
  font-size: 36px

.t-large, h2
  font-size: 24px

.t-medium, h3
  font-size: 18px

.t-small
  font-weight: 13px

.t-white
  color: white

.center-align
  text-align: center!important

.left-align
  text-align: left!important

.right-align
  text-align: right!important

.btn
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06)!important
  // border-width: 1px!important
  // border-radius: .25rem!important
  // border-color: #cbd5e0!important





