.camera
  position: relative
  background-color: grey
  height: 40vh
  &__border
    width: 50%
    height: 50%
    border: 3px dashed $primary
    border-radius: 15px
    position: absolute
    top: 25%
    left: 25%

  .enter-code-btn
    position: absolute
    right: 10px
    bottom: 10px

.checkCode-btn
  width: 100%

.landing
  margin-top: 20px
  text-align: center
  #user-img
    img
      width: 75px
      height: 75px
      object-fit: cover
      border-radius: 40px!important
      border: 3px solid white

  .shortcut-btns
    margin-right: 0!important
    margin-left: 0!important
    padding: 10px 15px
    text-align: right
    .has-background-white
      border-radius: 5px
      padding: 10px 15px
      box-shadow: 0px 5px 10px rgba(0,0 ,0 ,0.09 )
    p
      font-size: 12px
      font-weight: 500!important
    a
      color: $primary
    #my-cafe-icon
      padding-bottom: 4px
      p
        position: relative
        bottom: 4px
      img
        width: 30px!important
        height: 30px
    #charge-wallet-icon
      img
        width: 24px!important

@media (min-width: 992px)
  .camera
    // display: none