

.has-active-table
  padding-bottom: 100px
.table-header
  display: flex
  .info
    flex: 1
    img
      width: 75px
      height: 75px
      border-radius: 50px
    .cafe-name, .cafe-rate
      position: absolute
      display: inline-block
    .cafe-name
      font-size: 16px
      font-weight: 500
      color: white
    .cafe-rate
      top: $margin * 3

    .go-back
      flex: 1
  .table-number
    position: absolute
    display: inline-block
    top: $margin * 3
    font-size: 18px
    color: white
    direction: ltr

.table-status-bar
  height: 39px
  position: relative
  bottom: 19px
  display: flex
  justify-content: center
  align-items: center
  p
    width: 100%
    text-align: center
    .total-payment
      font-size: 18px
    .total-cost
      font-size: 18px

.others
  margin-bottom: 3 * $margin


.table-person
  margin-bottom: 50px
  .person-title
    border-radius: 25px
    display: flex
    img
      flex-basis: 46px
      height: 46px
      border-radius: 23px
  .person-orders
    margin-bottom: $margin * 1.5
    margin-top: $margin!important
    position: relative
    .toman
      font-size: 10px!important
      margin-right: 2px
    .person-title-and-selection
      display: flex
    .wish-to-pay, .person-payment, .person-total-order-info
      font-size: 13px
      color: $grey
    .person-slider
      position: absolute
      bottom: -16px
      left: 0
      right: 0
      .b-slider.is-large .b-slider-track 
        height: 0.85rem
        border-radius: 0px 0px 5px 5px
      .b-slider-fill
        border-radius: 0px 0px 5px 5px

    .order-payment-done
      margin: 0.25rem -1*$margin -1*$margin -1*$margin
      display: flex
      justify-content: center
      align-items: center
      color: white
      border-radius: 0px 0px 5px 5px
      padding: 3px
      
    .person-total-order-info
      span
        font-size: 13px

    .person-payment
      display: flex
      span
        flex: 1
        font-size: 13px
    .wish-to-pay
      margin-bottom: $margin
      #wish-to-pay-text
        font-size: 12px

#pay-checkout
  .pay-checkout-btn
    color: white
    display: flex
    font-size: 16px
    font-weight: 600!important
    justify-content: center
    align-items: center
    .credit-card-icon
      margin-left: 3px
  .pc-child
    flex: 1
    display: flex
    align-items: center
  .pay-checkout-info
    // flex-direction: row-reverse
    justify-content: flex-end
    align-items: center
    .total-count, .total-price
      display: inline-block
    .total-price
      font-size: 18px
      .toman
        font-size: 14px
        color: $grey
        position: relative
        right: 3px

  
.table-options-modal
  .modal-card-body
    .last-checkbox-field
      padding-bottom: 2*$padding
      // margin-bottom: $margin!important
      .b-checkbox
        .check
          width: 1.4rem!important
          height: 1.4rem!important
        .control-label
          padding-right: 0.5rem
          padding-left: 0
          font-size: 18px

      

.pay-checkout-is-shown
  box-shadow: 0px -1px 0px rgba(0,0 ,0 ,0.05)
  bottom: 105px!important
  transition: 0.3s!important
  transition-timing-function: ease-out!important
  transform: translateY(46px)!important
  opacity: 1!important
    

