
$primary: #009fe3!important
$secondary: #E91E63
$thirdinary: #006FB9
$black: #4a4a4a
$darkGrey: #595959
$grey: #717070
$lightGrey: #E4E4E4
$lightblue: #29abe2
$blueShade: #F2F6F9
$green: #20BC32
$purple: #8e24aa
$navbarBoxShadow: 0px -1px 2px rgba(0,0 ,0 ,0.15)
$longShadow: 0px 5px 15px rgba(0, 0 , 0 , 0.10)
$shortShadow: 0 1px 3px rgba(0, 0 , 0 , 0.10)
$padding: 0.75rem
$margin: 0.75rem

@mixin sideMargin($size)
  margin-right: $size
  margin-left: $size

@mixin tbMargin($size)
  margin-top: $size
  margin-bottom: $size

@mixin sidePadding($size)
  padding-right: $size
  padding-left: $size

@mixin tbPadding($size)
  padding-top: $size
  padding-bottom: $size
