@import '../variables.sass'
.cp-btn
  border-radius: 5px
  @include tbPadding($size: 0.5 * $padding)
  @include sidePadding($size: 0.5 * $padding)

.cp-btn-large
  @include tbPadding($size:  $padding)
  font-size: 16px

.cp-btn-primary
  background-color: $primary
  color: white
  &:hover
    border: none!important
    color: white!important
    background-color: darken($primaryNotImportant, 7%)

.cp-btn-green
  background-color: $green
  color: white
  &:hover
    border: none!important
    color: white!important
    background-color: darken($green, 7%)



.bcp-btn
  border-radius: 5px
  &:focus
    box-shadow: none!important

.bcp-btn-large
  height: 45px
  span
    font-size: 16px

.send-code-btn
  span
    font-size: 20px!important

.button.is-light
  background-color: #e6e6e6


.button.is-info[disabled]
  opacity: 0.75

[anim="ripple"]

  position: relative
  overflow: hidden

  &:before
    content: ''
    position: absolute
    display: block
    background: var(--ripple-background, white)
    border-radius: 50%
    pointer-events: none

        //  position and size
    top: calc(var(--y) * 1px)
    left: calc(var(--x) * 1px)
    width: calc(var(--d) * 1px)
    height: calc(var(--d) * 1px)

        //  animated properties
    opacity: calc(var(--o, 1) * var(--ripple-opacity, 0.3))
    transition: calc(var(--t, 0) * var(--ripple-duration, 600ms)) var(--ripple-easing,linear)
    transform: translate(-50%, -50%) scale(var(--s, 1))
    transform-origin: center

//  Just some styling
.ripple-effect

  --ripple-background: black
  --ripple-opacity: 0.3
  --ripple-duration: 600ms
  -webkit-tap-highlight-color: rgba(0,0,0,0)

.cp-btn-submit-order
  width: 100%!important
  height: 50px
  font-size: 24px!important
  border-radius: 5px!important
  box-shadow: none
  span
    font-size: 18px
    font-weight: 500!important
  &:focus
    border: none
    color: white
    box-shadow: none!important

.cp-btn-primary-inverted
  background-color: white!important
  color: $primary

#pay-checkout, #selected-products-preview
  opacity: 0
  z-index: 100
  position: fixed
  display: flex
  bottom: 0
  left: 15%
  right: 15%
  background-color: white
  height: 50px
  transition-timing-function: ease-in
  transition: 0.4s
  background-color: $blueShade
  display: flex

.selected-products-preview-is-shown
  bottom: 7.5rem!important
  transition: 0.3s!important
  transition-timing-function: ease-out!important
  transform: translateY(46px)!important
  opacity: 1!important


.v-step
  &__button
    background: #ffffff!important
    color: $black!important
    border-radius: 5px
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06) !important

  &__button-skip
    display: none!important